    .main {
        background-image: url(./img/bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }

    body {
        transition: opacity .3s ease-in-out;
        opacity: 0;
        overflow: hidden;
        margin: 0;
        will-change: opacity;
    }

    .main__head {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding-top: 10px;
    }

    .main__head-wrapper {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 5px 0;
    }

    .letter {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #676876;
        border: 4px solid #000;
        border-radius: 3px;
        flex-shrink: 0;
        width: 52px;
        height: 62px;
        position: relative;
        overflow: hidden;
    }

    body {
        font-family: 'Arial';

    }

    .letter__item {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background: linear-gradient(158.77deg, #FFFFFF 3.15%, #C8DDFF 138.64%);
        font-style: normal;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
        font-size: 32px;
        transform: rotateY(180deg);
        position: relative;
        opacity: 0;
        transition: transform 1s ease-in-out, opacity .5s ease-in-out;
        will-change: transform;


        &.active {
            opacity: 1;
            transform: rotateY(0deg);

            &+.white-bg {
                transform: rotateY(-180deg);
                opacity: 0;
            }
        }
    }

    .white-bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(158.77deg, #FFFFFF 3.15%, #C8DDFF 138.64%);
        transition: transform 1s ease-in-out, opacity .5s linear;
        transform: rotateY(0deg);
        opacity: 1;
    }



    #circle {
        pointer-events: none;
        width: 70vh;
        height: 70vh;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -40%);

        &::before {
            width: 40%;
            height: 50%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 90%);
            content: '';
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='126' height='77' viewBox='0 0 126 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 0H126V124.146C126 153.631 0 147.424 0 124.146V0Z' fill='url(%23paint0_linear_3476_46485)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_3476_46485' x1='0' y1='46.9565' x2='126' y2='46.9565' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23C1C4CF'/%3e%3cstop offset='0.09375' stop-color='%2334363F'/%3e%3cstop offset='0.722068' stop-color='%236A6F82'/%3e%3cstop offset='0.897899' stop-color='%238B90A5'/%3e%3cstop offset='1' stop-color='%23D4D6DF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
        }

    }

    .circle_wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .arrow-win {
        z-index: 2;
        position: absolute;
        left: 51%;
        top: 29%;
        transform: translate(-50%, -50%);
        width: 4.5vh;
        height: 30vh;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .whell-btn {
        outline: none;
        cursor: pointer;
        font-weight: 700;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(1);
        top: 47vh;
        border: none;
        position: absolute;
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        background-color: transparent;
        color: #E24D7C;
        font-size: 32px;
        animation: toLowerText 1.5s ease-in-out forwards infinite 0s;
        will-change: transform;

        &.spin {
            pointer-events: none;
        }
    }

    @keyframes toLowerText {

        50% {
            transform: translateX(-50%) scale(1.2);
        }
    }

    .person {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 40vh;
        transform: translate(90%, 15%);
        height: 62vh;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
        }
    }

    .modal {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        .modal__close {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 25px;
            height: 25px;
            cursor: pointer;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.8493 0.292893C15.4588 -0.0976313 14.8256 -0.0976309 14.4351 0.292893L8.07104 6.65693L1.70711 0.292987C1.31658 -0.0975377 0.683417 -0.0975379 0.292893 0.292986C-0.0976313 0.683511 -0.0976309 1.31668 0.292893 1.7072L6.65683 8.07114L0.292941 14.435C-0.0975831 14.8256 -0.0975833 15.4587 0.292941 15.8492C0.683465 16.2398 1.31663 16.2398 1.70715 15.8492L8.07104 9.48535L14.435 15.8493C14.8256 16.2399 15.4587 16.2399 15.8492 15.8493C16.2398 15.4588 16.2398 14.8256 15.8492 14.4351L9.48526 8.07114L15.8493 1.70711C16.2398 1.31658 16.2398 0.683417 15.8493 0.292893Z' fill='%2303010B'/%3e%3c/svg%3e ");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .modal__content {
            position: relative;
            max-width: 900px;
            width: 100%;
            background: #E9F2FF;
            box-shadow: 0px 4px 10px rgba(38, 39, 72, 0.4);
            border-radius: 8px;
            padding: 25px 30px;
            display: flex;
            font-weight: 700;
            font-size: 32px;
            line-height: 150%;
            color: #333333;

            .modal__content-img {
                margin-right: 30px;
                width: 300px;
                height: 300px;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .tartata-audio {
        opacity: 0;
        visibility: hidden;
    }

    .mute-btn {
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 30px;
        width: 30px;
        height: 30px;

        &.mute {
            svg path {
                fill: red;
            }
        }

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }